<%- include('../partials/head') %>
<body>
	<%- include('../partials/nav-bar') %>

	<main class="detail main">
		
		<div class="no-desktop container">
			<div class="card">
				<div class="header">
					<div class="ilustration">
						<img src="/images/products/<%= product.image %>" alt="ilustración de <%= product.name%>" >
					</div>
				</div>
				<div class="body">
					<h3 class="name"><%= product.name %></h3>
					<p><% for (let i = 0; i < product.rating; i++) { %>
						<i class="far fa-star"></i>
					<% } %> </p>
					<p class="price">$<%= product.price %></p>
					<p class="price-discount">$<%= product.price - product.price*(product.discount/100) %></p>
					<div class="add-product general-botton">
						Agregar al carrito
					</div>
					<p><%= product.description %></p>
				</div>
			</div>
			<div class="suggest">
					<%- include('../partials/groupOfProducts') %> 
			</div>
		</div>

		<div class="desktop container">
			<div class="header">
				<div class="ilustration">
					<img src="/images/products/<%= product.image %>" alt="ilustración de <%= product.name%>" >
				</div>
				<div class="suggest" style="display: flex; width: 100%;">
					<%- include('../partials/groupOfProducts') %> 
				</div>
			</div>
			<div class="body">
				<h3><%= product.name %></h3>
				<p><% for (let i = 0; i < product.rating; i++) { %>
						ð
					<% } %> </p>
				<p>Encuentrala desde $<%= product.price %></p>
				<div class="delivery">
					Envio
				</div>
				<p><%= product.description %></p>
			</div>
		</div>
	</main>

	<%- include('../partials/footer') %>
</body>
