<%- include('../partials/head') %>
<body>
	<%- include('../partials/nav-bar') %>

	<main class="detail main">
		
		<div class="no-desktop container">
			<div class="card">
				<div class="header">
					<div class="ilustration">
						<img src="/images/products/<%= product.image %>" alt="ilustración de <%= product.name%>" >
					</div>
				</div>
				<div class="body">
					<h3><%= product.name %></h3>
					<p><% for (let i = 0; i < product.rating; i++) { %>
						<i class="far fa-star"></i>
					<% } %> </p>
					<p>Encuentrala desde $<%= product.price %></p>
					<div class="delivery">
						Agregar
					</div>
					<p><%= product.description %></p>
				</div>
			</div>
			<div class="suggest">
					<%- include('../partials/groupOfProducts') %> 
			</div>
		</div>

		<div class="desktop container">
			<div class="header">
				<div class="ilustration">
					<img src="/images/products/<%= product.image %>" alt="ilustración de <%= product.name%>" >
				</div>
				<div class="suggest" style="display: flex; width: 100%;">
					<%- include('../partials/groupOfProducts') %> 
				</div>
			</div>
			<div class="body"><div class="">
				<h3><%= product.name %></h3>
				<p><% for (let i = 0; i < product.rating; i++) { %>
						ð
					<% } %> </p>
				<p>Encuentrala desde $<%= product.price %></p>
				<div class="delivery">
					Envio
				</div>
				<p><%= product.description %></p>
			</div>
		</div>
	</main>

	<%- include('../partials/footer') %>
</body>
