<%- include('./partials/head') %>
<body>
	<%- include('./partials/nav-bar') %>
	<div class="banner">
		<img src="./images/img-home-banner.jpg" alt="Banner mercado Liebre" />
	</div>
	<main class="main-main">
		<div class="content">
			<section class="main-article">
				<h3 class="title-section">Basado en tu última visita</h3>
				<% if (locals.products != undefined) { %> <% products.forEach(product => { %> <% if (product.category == "visited") { %>
				<div class="content-article">
					<article class="article-cards">
						<img src="./images/products/<%= product.image %>" alt="Cafetera Moulinex" />
						<div class="caracteristics-article">
							<i class="fas fa-truck"></i>
							<div class="for-pay">
								<p class="precios">$ <%= product.price %></p>
								<p class="off"><%= product.discount %>% off</p>
							</div>
							<p class="descripcion"><%= product.name %></p>
						</div>
					</article>
				</div>
				<% } %> <% }) %> <% } %>
			</section>

			<section class="main-article">
				<h3 class="title-section">Sección de ofertas</h3>
				<% if (locals.products != undefined) { %> <% products.forEach(product => { %> <% if (product.category == "in-sale") { %>
				<div class="content-article">
					<article class="article-cards">
						<img src="./images/products/<%= product.image %>" alt="Cafetera Moulinex" />
						<div class="caracteristics-article">
							<i class="fas fa-truck"></i>
							<div class="for-pay">
								<p class="precios">$ <%= product.price %></p>
								<p class="off"><%= product.discount %>% off</p>
							</div>
							<p class="descripcion"><%= product.name %></p>
						</div>
					</article>
				</div>
				<% } %> <% }) %> <% } %>
			</section>
		</div>
	</main>
	<%- include('./partials/footer') %>
</body>
