<% for (let i = 0; i < suggest.length; i++) { %>
    <article class="control-article">
        <img src="/images/products/<%= suggest[i].image%>" alt="<%= suggest[i].name %>" />
        <div class="body">
            <del class="price">$<%= suggest[i].price %> </del>
            <div class="spoiler">
                <p class="priceoff">$<%= suggest[i].price - (suggest[i].price*(suggest[i].discount/100)) %>  </p>
                <p class="off">  <%= suggest[i].discount %> % OFF</p>
            </div>
            <p class="name"><%= suggest[i].name %></p>
        </div>
        <a href="/products/<%= suggest[i].id %>"></a>
    </article>
<% }%>